/* fonts imports */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* default styles */

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.primary-button{
    background-color: #E55473;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    border-radius: 8px;
    color: white;
}

/* header style */

header{
    display: flex;
    align-items: center;
    padding-left: 240px;
    padding-right: 240px;
    padding-top: 50px;
    background-color: #E554731A;
    justify-content: space-between;
}
.hleft{
    width: 700px;
}
.htitle{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.hpera{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

header > img{
    width: 630px;
}

/* Featured styles */

.featured{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featured > h1{
    font-size: 40px;
    font-weight: 800;
}

.featured > p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 600px;
}

.fbottom{
    display: flex;
    gap: 24px;
}

.flower{
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    
}

.pink{
    border-radius: 300px 300px 0px 0px;
    background: #A7216226;
    padding: 44px 44px 0 44px;
}

.blue{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 44px 44px 0 44px;
}

.green{
    border-radius: 300px 300px 0px 0px;
    background: #477D1126;
    padding: 44px 44px 0 44px;
    
}

.i{
    height: 500px;
    width: 400px;
}

.flower > h3{
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
